.slider {
  margin: 0 20px;
  overflow: hidden;
  padding: 3rem 0 3rem 0;
  transition: transform 0.3s ease; /* Add transition for transform */
  border-radius: 10px;
}

.slider:hover {
  transform: scale(1.1); /* Increase the size on hover */
}

.slider img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.slider .slider_content{
    padding-left:5px ;
}
.slider .slider_content p{
    font-size: 18px;
    font-weight: 600;
    color: #2d3436;
}
.slider .slider_content p span{
    font-weight: 500;
    color: #d63031;
}

.slider .slider_content h5{
    font-size: 18px;
    font-weight: 600;
    color: #2d3436;
}
.slider .slider_content h5 span{
    font-size: 16px;
    font-weight: 500;
    color: #2f3640;
}

.slider p {
  margin-bottom: 0px;
}
.slider h5 {
  margin-bottom: 0px;
}

.slider .brand_rating{
    padding: 20px;
    font-size: 18px;
    text-align: start;
}



.react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
}

.custom-dot-list-style button {
  border: none;
  background: rgb(255, 68, 68);
}
.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: rgb(255, 68, 68) !important;
}

.parent {
  background-color: #e3e6e6;
  padding: 30px;
}

.parent .slider img {
  height: 200px;
  width: 80%;
}
.parent .slider {
  height: 350px;
  background-color: white;
  text-align: center;
}
.parent .slider button {
  background-color: orange;
  color: white;
  border-radius: 10px;
  width: 50%;
}
.react-multiple-carousel__arrow {
  z-index: 9 !important;
}