.product_Contanier {
  width: 100%;
}

.product_Render {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.product_Render .productimage img {
  width: 100%;
  height: 400px;
  box-shadow: 0px 0px 80px 5px gray;
  border-radius: 20px;
  text-align: center;
  /* margin-right: 20px; */
  /* margin-bottom: 20px; */
}
.product_Render .detail {
  margin-bottom: 30px;
  width: 50%;
}
.detail h4 {
  color: #2f3640;
  font-size: 1.3rem;
  font-weight: 600;
  /* word-wrap: break-word; */
}
.detail h5{
  color: #2f3640;
  font-size: 1.2rem;
  font-weight: 500;
}
.detail h5 span{
  color: #2f3640;
  font-size: 1.2rem;
  font-weight: 600;
}
.Brand_Rate{
  color: #2f3640;
  font-weight: 500;
  font-size: 1.1rem;
}
.Brand_Rate span{
  color: #d63031;
  font-weight: 600;
}
.BrandSale, .BrandMRP, .Brand_Warranty, .Delivery{
  color: #2f3640;
  font-weight: 500;
  font-size: 1.1rem;
}
.BrandSale span, .BrandMRP span, .Brand_Warranty span, .Delivery span{
  font-weight: 600;
}
.Bank_Offer li{
  font-size: 1rem;
  font-weight: 600;
}
.AddToCart{
  border: none;
  outline: none;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: #f9ca24;
  color: #fff;
  font-weight: 600;
}
.product_Render .detail button:hover{
  color: red;
}

@media screen and (max-width: 1640px) {
  .product_Render{
    margin-top: 10px;
    padding: 10px;
    flex-wrap: nowrap;
    column-gap: 5px;
  }
}




@media screen and (max-width: 955px) {
  .product_Render{
    margin-top: 10px;
    padding: 10px;
    flex-wrap: nowrap;
    column-gap: 5px;
  }
}
@media screen and (max-width: 700px) {
  .product_Render{
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .product_Render .productimage{
    width: 80vw;
    height: unset;
    margin: auto;
  }
  .product_Render .productimage img {
    width: 100%;
    height: 100%;
  }
  .product_Render .detail{
    width: 80%;
    margin: auto;
  }
}
